#Archivo de configuracion de git para ignorar subida de archivos basura


# maven #
target/
bin/

# delphi #
*.exe
*.dcu
*.bpl

*.class

# Package Files #
*.jar
*.war
*.ear

*~

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp

*~.nib
local.properties
.classpath
.settings/
Servers
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

*.jpg
*.~*

# Para evitar archivos en estado de merge.
*xml.orig

#evito este archivo
desktop.ini
*database.properties