
.z-vlayout{
	width: 100%
}

.fontTitle {
	font-family: Arial, Sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.tabPrincipal .z-tab-text {
	background: darkslategrey;
	color: white;
}

.z-loading{
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: rgba(227,227,227,0.5);
}

.campoCodigo{
	text-align: center;
	padding: 0px;	
	width: 50px;
	height: 2px;
}

.z-listcell-content{
	background-color: white;
}

/* header */
/* header */

.z-row-content, .z-row-content:hover , .z-row-inner, .z-row-inner:hover , .z-row, .z-row:hover, .z-cell, .z-cell:hover {
/* 	background-color: white !important; */
	padding: 0px !important;
	margin: 0px !important;
}

.z-row-content .fila-maestro{
	height: 29px !important;
}

.z-panel-header .panel-maestro{
	height: 29px;
}

.grilla-items .z-grid-body{
	margin-top: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
}
