
.fontTitle {
	font-family: Arial, Sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.tabPrincipal .z-tab-text {
	background: darkslategrey;
	color: white;
}

.fontListConciliacion .z-listheader-content, .z-listcell-content,
	.z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
	font-size: 11px

}

.z-datebox-disabled, .z-textbox[disabled], .z-combobox-disabled *,
	.z-bandbox-disabled *, .z-datebox-disabled *, .z-timebox-disabled *,
	.z-spinner-disabled *, .z-doublespinner-disabled * {
	color: black !important;
	font-weight: bold;
}

.fontGrid .z-label,.z-column-content{
	font-size: 11px	!important;
}


.lastChildTree .z-icon-caret-down:before,.lastChildTree .z-icon-caret-right:before{
	content: "-";
	
}

.z-notification-content {
	min-height:20px;
	
}

.z-loading{
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: rgba(227,227,227,0.5);
}

.z-loading-indicator{
	width: 120px !important;
	margin: auto !important;
}

.campoCodigo{
	text-align: center;
	padding: 0px;	
	width: 50px;
	height: 2px;
}

.z-listcell-content{
	background-color: white;
}

.z-row-content, .z-row-content:hover , .z-row-inner, .z-row-inner:hover , .z-row, .z-row:hover{
	background-color: white !important;
	height: 29px !important;
	padding: 0px !important;
	margin: 0px !important;
}
